@import "style_zeroing.scss";
@import "stylesheet.scss";
//переменные 
$name:meaning;
//шаблон
%name{
    parameter1:meaning;
}
//испльзование @extend %name

//миксины 
@mixin name($variable){
    parameter1:$variable;
}


:root{
    --font-family-SF-Pro:"SF Pro Display";
    --font-family-Nordin:"Nordin";
    --font-family-Montserrat:"Montserrat";
}
//чёрный цвет 
$black_color:#000000;

//серый цвет 
$gray_color:#6B6B6C;
//булый цвет
$white_color:#FFFFFF;
//main_color
$main_color:#0089EC;

//шаблон для заголовкиов 
%shaplone_in_heads{

}

//шаблон для текста 
%main_text{

} 
h1{
    font-family: var(--font-family-Nordin);
    font-style: normal;
    font-weight: normal;
    font-size: 200px;
}
h2{
    font-family: var(--font-family-SF-Pro);
    font-style: normal;
    font-weight: 600;
    font-size: 40px;
    line-height: 23px;
    color: #363636;
}
p,.main-text{
    font-family: var(--font-family-SF-Pro);
    font-style: normal;
    font-weight: normal;
    font-size: 15px;
    line-height: 23px;
}

.header {
    margin: auto;
    color: #FFFFFF;
    max-width: 1440px;
    width: 100%;
    position: relative;
    overflow: hidden;

    img,srcset{
        position: absolute;
        width: 100%;
        height: 100%;
        z-index: -10;
    }
    &__body{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        height: 900px;
    }
}
.container {
    max-width:1190px;
    width:100%;
    padding: 0px 15px;
    margin:auto;
    height: 100%;
}
.top-block {
    margin-top: 30px;
    display: flex;
    justify-content: space-between;
}
.menu-burger {
    // .menu-burger__menu
    .fa-times:active,
    .fa-bars:active{
        transition: 0.5s;
        transform:scale(1.5);
    }
    .fa-times{
        position: absolute;
        top: -50px;
    }
    &__menu {
        display:flex;
        position:absolute;
        left:-120% ;
    }

    &__menu_active {
        left: 40px;
        top: 90px;
        animation: menu_active 0.5s  ease-in-out;
    }
    @keyframes menu_active {
        0%{
            left:-120% ;
        }
        100%{
            left:40px;
        }
    }
    &__fons{
        position: absolute;
        width: 100%;
        height: 100%;
        opacity: 0.6;
        z-index: -1;
    }
    &__fons_active{
        background: #FFFFFF;
    }

}
.menu-left {
    margin-right: 88px;
    // .menu-left__list
    &__list {
        font-weight: 600;
        font-size: 20px;
        color: #363636;
        margin-bottom: 20px;
        }
    // .menu-left__item
    .menu-burger__item {
        display:none;
    }
}
.menu-right {
    // .menu-right__list
    &__list {}
    // .menu-right__item
    .menu-burger__item {
        color: #363636;
    }
}

.icons-networks {
    display: flex;
    // .icons-networks__item
    &__item {
        margin-left: 40px;
       
        font-size:24px;
        input{
            color:#FFFFFF;
            margin-left: 17px;
            background: none;
            border-bottom: 1px solid #FFFFFF;;
            padding: 4.5px 0px;
            position: relative;
            top: -4px;
        }
    }
}


.add-naming {
    font-family: var( --font-family-Montserrat);
    font-style: normal;
    font-weight: normal;
    font-size: 50px;
}
.transition {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 287px;
    height: 70px;
    border: 1px solid #FFFFFF;
    box-sizing: border-box;
    margin-top: 4%;
    background: none;
    cursor: pointer;
    &:visited{
            color:#FFFFFF;
        }
    &:active{
        transition: 0.2s;
        transform:scale(1.1);
    }
    // .transition__text
    &__text {
        font-family: var( --font-family-Montserrat);
        font-style: normal;
        font-weight: normal;
        font-size: 15px;
        line-height: 34px;
    }
}
.dop-info {
    margin-top: 125px;
    position: relative;
    bottom: -15%;
    display: flex;
    align-self: flex-end;
    &__phone {
        margin-right:10px;
}
    &__time-work {
}

}
.products {
    margin:105px 0px;
    // .products__filters
    &__filters {
        display: flex;
        margin-bottom:60px;
    }
    // .products__filter
    &__filter {
        font-family: var(--font-family-SF-Pro);
        font-style: normal;
        font-weight: 600;
        font-size: 30px;
        line-height: 23px;
        /* identical to box height, or 77% */
        color: #CCCCCC;
        margin-right:77px;
        cursor:pointer;
        // .products__filter_active
        &_active {
            color: #363636;
        }
    }
    // .products__body
    &__body {
         /* 
       display: flex;
        flex-wrap: wrap;
        align-content: space-between;
        justify-content: space-between;
       */
       display: none;
       &_active{
            display: grid;
            grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
            grid-gap: 80px;
       }
        
    }

    // .products__card
    &__card {
        flex: 1 1 content;
        max-width: 235px;
        width: 100%;
        .card__header{
            height: 229px;
            background: #50626C;
        }
    }
    // .products__head
    &__head {
        font-size: 18px;

    }
    // .products__button
    &__button {}
    // .products__pagination
    &__pagination {}
    .no-active{
        display:none !important;
    }
}
.card {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    // .card__header
    &__header {
        display: flex;
        justify-content: center;
        align-items: center;
    }
    // .card__body
    &__body {}
    // .card__head
    &__head {
         margin-top:32px;
        text-align: center;
    }
    // .card__footer
    &__footer {
        margin-top: 32px;
        display:flex;
        justify-content: center;
    }
    // .card__button
    &__button {
        height: 37.58px;
        width:100%;
        background: #50626C;
    }

}
.pagination {
    display: flex;
    justify-content: center;
    margin:21px;
    // .pagination__body
    &__body {
        color: #363636;
        a:visited{
            color:#363636;
        }
        li{
            margin:7px;
            display: inline;
            font-family: var(--font-family-Montserrat);
            line-height: 34px;
        }
    }
    // .pagination__arrow
    &__arrow {
        margin:25px;
    }
    &__arrow_no-active {
        a:visited{
            color:#ABB2B4;
        }
        
    }
}
.categories {
   
    margin-top: 141px;
    
    &__img,source{
        position:absolute;
        width:100%;
        height: 100%;
        pointer-events:none;
    }
        &__img:hover,&__card:hover &__img{

            transform:translateX(100%);
            transition: 3s;
        }
    // .categories__body
    &__body {
        margin: 84px 0px;
        display:grid;
        grid-template-columns: repeat(auto-fit, minmax(373px, 1fr));
        grid-gap:16px;
    }
    // .categories__card
    &__card {
        overflow:hidden;
         position: relative;
        background: #FFFFFF;
        box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.25);
        border-radius: 15px;
        .card__header{
            margin-top:34px;
        }
        max-width: 373px;
        .card__body ul{
            max-width:30%;
            width:100% ;
            margin:16px auto;
        }
      .card__body ul li{
            text-align:left;
            list-style:disc;
        }
        .card__footer{
            margin-bottom:24px;
        }

    }
    // .categories__head
    &__head {
        font-family: Gilroy;
        font-style: normal;
        font-weight: bold;
        font-size: 20px;
        line-height: 23px;
        color: #50626C;
        display: flex;
        align-items: center;
        svg{
            margin:15px;
    }
}
}

.articles {
    &__body{
        margin-top:117px;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-gap: 22px;
    }

    &__card:nth-child(3n){
        grid-column: 1 / span 2;
        max-width:100%;
        picture{
            margin-top:0px;
        }
    }

    
    // .articles__card
    &__card {
        font-family: Gilroy;
        font-style: normal;
        background: #FFFFFF;
        box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.25);
        border-radius: 29px;
        max-width:565px;
        width: 100%;
        padding:50px; 
        color: #50626C;
        picture{
            margin-top: -27%;
        }
    }
    // .articles__head
    &__head {

    font-weight: bold;
    font-size: 30px;
    line-height: 36px;
    }
    // .articles__text
    &__text {
        margin-top:12px;
        font-weight: normal;
        font-size: 20px;
        line-height: 23px;


    }
    .card {
    // .card__header
    &__header {}
    // .card__body
    &__body {
        margin-top: 21px;
    }
}
}

.reviews {
    margin-top: 110px;
    font-family: Gilroy;
    font-style: normal;
    font-weight: normal;
    color: #50626C;
    
    // .reviews__body
    &__body {
        margin-top:105px;
        text-align:center;
        display: flex;
        justify-content: space-between;
    }
    // .reviews__card
    &__card {
        padding:40px 40px;
        max-width: 364px;
        background: #FFFFFF;
        box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.25);
        border-radius: 10px;
        &:nth-child(2){
            transform:scale(1.1);
        }
    }
    // .reviews__head
    &__head {
        font-weight: bold;
        font-size: 20px;
        line-height: 23px;
    }
    // .reviews__text
    &__text {
        font-size: 15px;
        line-height: 34px;
        
    }
}
.feedback {
    margin-top:120px;
    padding:50px;
    display: flex;
    justify-content: space-between;
    // .feedback__head
    &__head {
        font-size: 25px;
        line-height: 25px;
        /* or 100% */

        text-align: center;

        color: #606060;
    }

    form{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        padding:40px 20px;
        max-width:440px;
        width: 100%;
        border: 1px solid #E4E5E4;
        box-sizing: border-box;



    }
}
.form-min{
    font-family: var(--font-family-Montserrat);
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 25px;
label{
    

}
.pole-input{
    margin-top:8px;
    width: 100%;
    height: 61.41px;
    border: 1px solid #E4E5E4;
    padding:15px;
}
    button[class="pole-input"]{
        font-size: 15px;
        line-height: 34px;
        background: #50626C;
        color:#ffffff;
        svg{
            margin-left:25px;
        }
        &:active{
            transition: 0.2s;
            transform: scale(0.9);
            }
    }
}
.footer{
    padding:82px;
    border-top:1px solid #A4A4A4;
    margin:auto;
    max-width:1440px - 100px*2;
        &__footer{
        height:100px ;
        background:$black_color;
    }

&__header{
    display: flex;
    justify-content: space-between;
    &__column{

    }
    h2{
        font-size: 22px;
        line-height: 23px;
    }
    ul{
        padding: 20px;
    }
    ul li{
        margin-top:10px;
    }
    a:visited{
        color:#363636;
    }

}
}