<footer class="footer">
    <div class="footer__header">
        <div class="footer__logo"><img src="img/image%2029.png" alt="">
        </div>
        <div class="footer__column">
            <h2>О магазине</h2>
            <ul class="main-text">
                <li><a href="#">Новости</a></li>
                <li><a href="#">Как купить</a></li>
                <li><a href="#">Доставка</a></li>
                <li><a href="#">О магазине</a></li>
                <li><a href="#">Гарантия</a></li>
                <li><a href="#">Контакты</a></li>
            </ul>
        </div>
        <div class="footer__column">
            <h2>Каталог товаров</h2>
            <ul class="main-text">
                <li><a href="#">Аксессуары к лодочным моторам</a></li>
                <li><a href="#">Лодочные аксессуары</a></li>
                <li><a href="#">Гребные винты</a></li>
                <li><a href="#">Другое</a></li>
                <li><a href="#">Запчасти</a></li>
                <li><a href="#">Лодки ПВХ и аксессуары</a></li>
                <li><a href="#">Лодочные моторы</a></li>
                <li><a href="#">Митизы(нержавеющие)</a></li>
            </ul>
            <p><a href="#">Прицепы, аксессуары для прицепов</a></p>
            <p><a href="#">Смазки</a></p>
        </div>

    </div>

</footer>

<div class="footer__footer"></div>