<header class="header">
    <div class="menu-burger__fons"></div>
    <img src="img/fon-header.png" alt="">
    <div class="container">
        <div class="top-block">
            <div class="menu-burger">
                <div class="icon"><i class="fas fa-bars"></i></div>
                <div class="menu-burger__menu">
                    <div class="menu-left main-text">
                        <ul class="menu-left__list">Аксессуары к лодочным моторам
                            <li class="menu-burger__item">Гребные винты</li>
                            <li class="menu-burger__item">Гребные винты</li>
                            <li class="menu-burger__item">Гребные винты</li>
                            <li class="menu-burger__item">Гребные винты</li>
                            <li class="menu-burger__item">Гребные винты</li>
                            <li class="menu-burger__item">Гребные винты</li>
                            <li class="menu-burger__item">Гребные винты</li>
                            <li class="menu-burger__item">Гребные винты</li>
                        </ul>
                        <ul class="menu-left__list">Аксессуары к лодочным моторам
                            <li class="menu-burger__item">Гребные винты</li>
                            <li class="menu-burger__item">Гребные винты</li>
                            <li class="menu-burger__item">Гребные винты</li>
                            <li class="menu-burger__item">Гребные винты</li>
                        </ul>
                    </div>
                    <div class="menu-right">
                        <ul class="menu-right__list main-text">
                        </ul>
                    </div>
                    <div class="icon"><i class="fas fa-times"></i></div>
                </div>
            </div>
     
                <ul class="icons-networks">
                    <li class="icons-networks__item"><div class="icon"><i class="fas fa-search"></i><input type="text" placeholder="поиск" class="main-text"></div></li>
                    <li class="icons-networks__item"><div class="icon"><i class="fas fa-shopping-cart"></i>0</div></li>
                    <li class="icons-networks__item"><div class="icon"><i class="far fa-user"></i></div>
                    </li>
                </ul>
          
        </div>
        <div class="header__body">
            <h1>MOTORSBOAT</h1>
            <h2 class="add-naming">лодки & моторы</h2>
            <a href="#" class="transition">
                <p class="transition__text">перейти в каталог 
                    <svg width="39" height="5" viewBox="0 0 39 5" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M35.4667 1L38 2.5L35.4667 4V2.5V1Z" fill="white"/>
                    <path d="M0 2.5H38M38 2.5L35.4667 1V2.5V4L38 2.5Z" stroke="white"/>
                    </svg>
                </p>
            </a>
            <div class="dop-info">
                <p class="dop-info__phone">8(999) 159 69-67</p>
                <p class="dop-info__time-work">
                    Время работы: <br>
                    Пн-Вс 10-19
                </p>
        </div>
    </div>
    </div>
</header>